<h2>
<%= link_to "LOG IN", login_path %>
||
<%=  link_to "SIGN UP", signup_path %>
</h2>

<p><b>SIGN IN WITH GITHUB</b></p>

<%= link_to "SIGN IN WITH GITHUB", '/auth/github' %>


<p><b>ARE YOU AN ARTIST?<b><p>

<%= link_to "ARTIST SIGN UP", new_artist_path %>
||
<%= link_to "ARTIST LOG IN", artistlogin_path %>

