<%= render partial: 'layouts/error', locals: {object: @comment} %>

<div><p>
<%= form_for @comment do |f| %>
<%= f.label :comment %>
<%= concert_id_field(@comment) %>
<%= f.text_field :content %>
<%= f.submit %>
<% end %>
</div></p>