
<% if @comment.errors.any? %>
<div id="error_messages">
<% @comment.errors.full_messages.each do |message| %>
    <%= message %><br>
    <p> Please comment on an existing concert</p>
<% end %>
</div>
<% end %>

<div><p>
<%= form_for @comment do |f| %>
<%= f.label :comment %>
<%= f.hidden_field :concert_id %>
<%= f.text_field :content %>
<%= f.submit %>
<% end %>
</div></p>