<h1><%= @ticket.owner %>, </h1>
<h3>Here are your booking details:</h3>

<b><%= link_to @ticket.artist, concert_path(@ticket.concert) %><br></b>
<%= @ticket.venue %><br>
Ticket Category <%= @ticket.category %><br>
Price <%= @ticket.price %><br>
Tickets sold <%= @ticket.quantity %><br>
Your total cost is: <%= @ticket.total_cost %><br>
With tax: <%= @ticket.total_with_tax %><br>


<%= link_to "Edit booking information", edit_ticket_path(@ticket) %>

<% # this code is the delete  %>
<%= button_to "Delete Booking", ticket_path(@ticket), method: :delete %>