<div>
<h1><%= @concert.performer %></h1>
<h2><%= @concert.location %></h2>
SEATS AVAILABLE: <%= @concert.remaining_tickets %>
</div>

<div>
<p>COMMENTS</p>
<% @concert.comments.each do |comment| %> 
<%= comment.try(:user).try(:username)%> says <%= comment.content %><br>
<%= comment.created_at %><br>
<% if comment.user == current_user %>
<%= button_to "Delete Comment", comment_path(comment), method: :delete %>
<% end %>
<% end %> 
</div>

<p><%= link_to "BOOK TICKET", new_user_ticket_path(current_user) %>


<div>
<p><%= link_to "ADD A COMMENT", new_concert_comment_path(@concert) %></p>

</div>