<div>
<h1><%= @concert.performer %></h1>
<h2><%= @concert.location %></h2>
SEATS AVAILABLE: <%= @concert.remaining_tickets %>
</div>

<div>
<p>COMMENTS</p>
<% @concert.comments.each do |comment| %> 
<b><%= comment.commenter%> said:<br> 
<%= comment.content %><br></b>
<%= pretty_time comment %> <%= link_to "◖ᵔᴥᵔ◗ ♪ ♫", concert_comment_path(@concert, comment) %><br>
<%= show_delete comment %>
<% end %> 
</div>

<p>PEOPLE ATTENDING:</p>
<% @concert.attendees.each do |attendee| %>
<p><%= attendee %></p> 
<% end %>


<% if logged_in? %>
<p><%= link_to "BOOK TICKET", new_user_ticket_path(current_user) %>
<% end %>


<div>
<% if logged_in? || current_artist == @concert.artist %>
<p><%= link_to "ADD A COMMENT", new_concert_comment_path(@concert) %></p>
<% end %>
</div>