<h1><%= @concert.performer %></h1>
<h2><%= @concert.location %></h2>
SEATS AVAILABLE: <%= @concert.remaining_tickets %>

<p>COMMENTS</p>
<% @concert.comments.each do |comment| %> 
<b><%= comment.commenter%> said:<br> 
<%= comment.content %><br></b>
<%= pretty_time comment %> <%= link_to "◖ᵔᴥᵔ◗ ♪ ♫", concert_comment_path(@concert, comment) %><br>
<%= show_delete comment %>
<% end %> 

<p>PEOPLE ATTENDING:</p>
<% @concert.attendees.each do |attendee| %>
<p><%= attendee %></p> 
<% end %>


<% if logged_in? %>
<p><%= link_to "BOOK TICKET", new_user_ticket_path(current_user) %>
<%= link_to "ADD COMMENT", new_concert_comment_path(@concert) %>
<% end %>

<% if current_user || @concert.artist == current_artist %>

<%= form_for @comment  do |f| %>
<%= f.hidden_field :concert_id %>
<%= f.label :content %>
<%= f.text_field :content %>
<%= f.submit %>
<% end %>

<% end %>
