<!DOCTYPE html>
<html>
  <head>
    <title>RailsConcertApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if logged_in? %>
      <%= link_to "LOGOUT", logout_path, method: :delete %>
      <%= link_to "CONCERTS (っ•́｡•́)♪♬", concerts_path %>
      <%= link_to "ADD COMMENT", new_comment_path %>
      <%= link_to "BOOK TICKET", new_ticket_path %>
      <%= link_to "MY TICKETS", user_tickets_path(current_user) %>
    <% end %>
    <%= yield %>
  </body>
</html>
